.mediaViewInfo {
	--web-view-name: Web 1920 – 2;
	--web-view-id: Web_1920__2;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Web_1920__2;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Web_1920__2 {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Web 1920 – 2;
	--web-view-id: Web_1920__2;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Group_11 {
	position: absolute;
	width: 1882.146px;
	height: 288.343px;
	left: -16.146px;
	top: -51.778px;
	overflow: visible;
}
#Group_6 {
	position: absolute;
	width: 181px;
	height: 62px;
	left: 1237.146px;
	top: 94.778px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: home.html;
	cursor: pointer;
}
#Group_2 {
	position: absolute;
	width: 181px;
	height: 62px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_2 {
	fill: rgba(127,237,254,1);
	stroke: rgba(0,100,97,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_2 {
	overflow: visible;
	position: absolute;
	width: 181px;
	height: 62px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#HOME {
	left: 50px;
	top: 15px;
	position: absolute;
	overflow: visible;
	width: 82px;
	white-space: nowrap;
	text-align: right;
	font-family: Berlin Sans FB;
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	color: rgba(0,0,0,1);
}
#Group_7 {
	position: absolute;
	width: 181px;
	height: 62px;
	left: 1469.146px;
	top: 94.778px;
	overflow: visible;
}
#Group_4 {
	position: absolute;
	width: 181px;
	height: 62px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_2_p {
	fill: rgba(127,237,254,1);
	stroke: rgba(0,100,97,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_2_p {
	overflow: visible;
	position: absolute;
	width: 181px;
	height: 62px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#_ABOUT {
	left: 41px;
	top: 15px;
	position: absolute;
	overflow: visible;
	width: 100px;
	white-space: nowrap;
	text-align: right;
	font-family: Berlin Sans FB;
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	color: rgba(0,0,0,1);
}
#Group_8 {
	position: absolute;
	width: 181px;
	height: 62px;
	left: 1701.146px;
	top: 94.778px;
	overflow: visible;
}
#Group_5 {
	position: absolute;
	width: 181px;
	height: 62px;
	left: 0px;
	top: 0px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: contact.html;
	cursor: pointer;
}
#Path_2_t {
	fill: rgba(127,237,254,1);
	stroke: rgba(0,100,97,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_2_t {
	overflow: visible;
	position: absolute;
	width: 181px;
	height: 62px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#CONTACT {
	left: 28px;
	top: 15px;
	position: absolute;
	overflow: visible;
	width: 127px;
	white-space: nowrap;
	text-align: right;
	font-family: Berlin Sans FB;
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	color: rgba(0,0,0,1);
}
#Group_9 {
	position: absolute;
	width: 776.995px;
	height: 288.343px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_1 {
	fill: rgba(104,225,253,1);
}
.Path_1 {
	overflow: visible;
	position: absolute;
	width: 776.995px;
	height: 288.343px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#PRATILIPI {
	left: 207.146px;
	top: 87.778px;
	position: absolute;
	overflow: visible;
	width: 397px;
	white-space: nowrap;
	text-align: left;
	font-family: Berlin Sans FB;
	font-style: normal;
	font-weight: bold;
	font-size: 86px;
	color: rgba(0,0,0,1);
}
#illuminati {
	position: absolute;
	width: 113px;
	height: 113px;
	left: 63.146px;
	top: 87.778px;
	overflow: visible;
}
#Group_19 {
	position: absolute;
	width: 1005.617px;
	height: 1144.203px;
	left: 1098.383px;
	top: 194.797px;
	overflow: visible;
}
#Path_4 {
	fill: rgba(127,237,254,1);
}
.Path_4 {
	overflow: visible;
	position: absolute;
	width: 546px;
	height: 631.203px;
	left: 459.617px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_5 {
	fill: rgba(255,218,143,1);
}
.Path_5 {
	overflow: visible;
	position: absolute;
	width: 894.617px;
	height: 779px;
	left: 0px;
	top: 365.203px;
	transform: matrix(1,0,0,1,0,0);
}
#Polygon_8 {
	fill: rgba(104,225,253,1);
}
.Polygon_8 {
	overflow: hidden;
	position: absolute;
	width: 110px;
	height: 86px;
	transform: translate(-1098.383px, -194.797px) matrix(1,0,0,1,1225.8239,975.7621) rotate(47deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Polygon_9 {
	fill: rgba(104,225,253,1);
}
.Polygon_9 {
	overflow: hidden;
	position: absolute;
	width: 110px;
	height: 86px;
	transform: translate(-1098.383px, -194.797px) matrix(1,0,0,1,1520.8241,656.7621) rotate(-40deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Polygon_10 {
	fill: rgba(104,225,253,1);
}
.Polygon_10 {
	overflow: hidden;
	position: absolute;
	width: 110px;
	height: 86px;
	transform: translate(-1098.383px, -194.797px) matrix(1,0,0,1,1519.8241,967.7621) rotate(-47deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Polygon_11 {
	fill: rgba(104,225,253,1);
}
.Polygon_11 {
	overflow: hidden;
	position: absolute;
	width: 110px;
	height: 86px;
	transform: translate(-1098.383px, -194.797px) matrix(1,0,0,1,1455.8241,790.7621) rotate(6deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Polygon_12 {
	fill: rgba(104,225,253,1);
}
.Polygon_12 {
	overflow: hidden;
	position: absolute;
	width: 110px;
	height: 86px;
	transform: translate(-1098.383px, -194.797px) matrix(1,0,0,1,1637.8239,809.7622) rotate(47deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Polygon_13 {
	fill: rgba(104,225,253,1);
}
.Polygon_13 {
	overflow: hidden;
	position: absolute;
	width: 110px;
	height: 86px;
	transform: translate(-1098.383px, -194.797px) matrix(1,0,0,1,1372.8238,907.7621) rotate(-49deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Polygon_14 {
	fill: rgba(104,225,253,1);
}
.Polygon_14 {
	overflow: hidden;
	position: absolute;
	width: 110px;
	height: 86px;
	transform: translate(-1098.383px, -194.797px) matrix(1,0,0,1,1685.8241,667.7622) rotate(17deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Polygon_15 {
	fill: rgba(104,225,253,1);
}
.Polygon_15 {
	overflow: hidden;
	position: absolute;
	width: 110px;
	height: 86px;
	transform: translate(-1098.383px, -194.797px) matrix(1,0,0,1,1794.8241,797.7621) rotate(-39deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Polygon_16 {
	fill: rgba(255,218,143,1);
}
.Polygon_16 {
	overflow: hidden;
	position: absolute;
	width: 110px;
	height: 86px;
	transform: translate(-1098.383px, -194.797px) matrix(1,0,0,1,1713.824,277.7621) rotate(5deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Polygon_17 {
	fill: rgba(255,218,143,1);
}
.Polygon_17 {
	overflow: hidden;
	position: absolute;
	width: 110px;
	height: 86px;
	transform: translate(-1098.383px, -194.797px) matrix(1,0,0,1,1810.8241,536.7622) rotate(83deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Polygon_18 {
	fill: rgba(255,218,143,1);
}
.Polygon_18 {
	overflow: hidden;
	position: absolute;
	width: 110px;
	height: 86px;
	transform: translate(-1098.383px, -194.797px) matrix(1,0,0,1,1592.824,426.7621) rotate(-31deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Polygon_19 {
	fill: rgba(255,218,143,1);
}
.Polygon_19 {
	overflow: hidden;
	position: absolute;
	width: 110px;
	height: 86px;
	transform: translate(-1098.383px, -194.797px) matrix(1,0,0,1,1731.8241,422.7622) rotate(45deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Polygon_20 {
	fill: rgba(104,225,253,1);
}
.Polygon_20 {
	overflow: hidden;
	position: absolute;
	width: 110px;
	height: 86px;
	transform: translate(-1098.383px, -194.797px) matrix(1,0,0,1,1706.8239,949.7621) rotate(32deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Group_21 {
	position: absolute;
	width: 1281px;
	height: 398px;
	left: 71px;
	top: 501px;
	overflow: visible;
}
#Lorem_Ipsum_is_simply_dummy_te {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: hidden;
	width: 1282px;
	height: 398px;
	line-height: 50px;
	margin-top: -6.5px;
	text-align: left;
	font-family: Berlin Sans FB;
	font-style: normal;
	font-weight: normal;
	font-size: 37px;
	color: rgba(0,0,0,1);
}
#Group_20 {
	position: absolute;
	width: 737px;
	height: 134px;
	left: 71px;
	top: 302px;
	overflow: visible;
}
#Group_18 {
	position: absolute;
	width: 551px;
	height: 133.5px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_17 {
	position: absolute;
	width: 551px;
	height: 133.5px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_16 {
	position: absolute;
	width: 551px;
	height: 133px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#ABOUT_US {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 552px;
	white-space: nowrap;
	text-align: right;
	font-family: Berlin Sans FB;
	font-style: normal;
	font-weight: bold;
	font-size: 119px;
	color: rgba(0,0,0,1);
}
#Line_1 {
	fill: transparent;
	stroke: rgba(104,225,253,1);
	stroke-width: 10px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_1 {
	overflow: visible;
	position: absolute;
	width: 507px;
	height: 10px;
	left: 22.5px;
	top: 133.5px;
	transform: matrix(1,0,0,1,0,0);
}
#info {
	position: absolute;
	width: 134px;
	height: 134px;
	left: 603px;
	top: 0px;
	overflow: visible;
}
#Group_22 {
	position: absolute;
	width: 227.483px;
	height: 77.922px;
	left: 71.436px;
	top: 928.058px;
	overflow: visible;
}
#Group_2_bp {
	position: absolute;
	width: 227.483px;
	height: 77.922px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_2_bq {
	fill: rgba(104,225,253,1);
	stroke: rgba(0,100,97,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_2_bq {
	overflow: visible;
	position: absolute;
	width: 227.483px;
	height: 77.922px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Know_more {
	left: 30.564px;
	top: 16.942px;
	position: absolute;
	overflow: visible;
	width: 178px;
	white-space: nowrap;
	line-height: 48px;
	margin-top: -6.5px;
	text-align: left;
	font-family: Berlin Sans FB;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(0,0,0,1);
}